@model IEnumerable<Playlist>

@{
    ViewData["Title"] = "Home Page";
    var count = 0;
}

<div style="padding:1%; margin:1%;">

<div class="spotify-playlistsS">
    <h2>Spotify Playlists</h2>

    <div class="listL">
            @foreach (var playlist in Model)
            {
                if (playlist.User_ID == 4)
                {
                    <div class="item">
                        <img src="@playlist.Image" />
                        <div class="play">
                            <span class="fa fa-play"></span>
                        </div>
                        <h4>@playlist.Name</h4>
                        <p>@playlist.Description</p>
                    </div>
                    count++;
                }
                if (count == 8)
                {
                    count = 0;
                    break;
                }
            }
        

       
    </div>
</div>

<div class="spotify-playlistsS" style="margin-top:17px;">
    <h2>Focus</h2>


    <div class="listL">
            @foreach (var playlist in Model)
            {
                if(playlist.User_ID != 4)
                {
                    <div class="item">
                        <img src="@playlist.Image" />
                        <div class="play">
                            <span class="fa fa-play"></span>
                        </div>
                        <h4>@playlist.Name</h4>
                        <p>@playlist.Description</p>
                    </div>
                }
                if (count == 8)
                {
                    count = 0;
                    break;
                }
            }


    </div>
</div>


</div>
